.background-img {
    background-image: url('/public/image/inv2.jpg');
    background-size: cover;
    background-position: center;
}

.logo-container{
    display: flex;
    align-items: center; /* Vendos imazhin dhe tekstin në të njëjtën vijë */
    justify-content: center; /* Qendroni të dy elementët */
    background-color: rgb(252, 252, 252); /* Sfond i bardhë */
    padding: 10px; /* Hapësirë rreth elementeve */
}

.logo {
    background-color: red;
    width: 50px; /* Vendos një madhësi më të vogël për logon */
    height: auto; /* Ruaj raportin e aspektit */
    filter: invert(1);  /*Bën imazhin të duket i zi në sfond të bardhë */
    margin-right: 10px; /* Hapësirë mes logos dhe titullit */
}

h3{
    color: black;
    font-family: Arial, sans-serif; /* Ndryshon fontin */
    font-weight: bold; /* E bën tekstin më të trashë */
    font-size: 35px; /* Madhësia e tekstit */
    text-shadow:  2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Logout Button Styling */
.logout-btn {
    padding: 600px 70px; 
    font-size: 1.5rem; 
    border: none; 
    border-radius: 5px; 
    color: white;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.3s ease; 
    text-decoration: none;
}

/* Icon styling inside the button */
.logout-btn i {
    margin-right: 10px; /* Space between the icon and the text */
    font-size: 20px; /* Set icon size */
}

